<% if controller.class.name.deconstantize == "Users" %>
  <h1 class="text-center">My Books</h1>
<% else %>
  <h1 class="text-center">Book Library</h1>

  <p class="text-center">
    <%= link_to "Add a new book to library", new_book_path, class: "button"  %>
  </p>
<% end %>

<div id="books">
  <% if @books.present? %>
    <% @books.each do |book| %>
      <%= render "books/book", book: book %>
    <% end %>
  <% else %>
    <p>No books found yet !<p>
  <% end %>
</div>

